@model Chirp2017.Models.SearchPageModel
<br />
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <span>UserName:</span>
    @Html.TextBoxFor(m => m.searchData.myUserName, new { type = "search" })
    <span>Number:</span>
    @Html.TextBoxFor(m => m.searchData.myNumber, new { type = "number" })
    <span>Keyword:</span>
    @Html.TextBoxFor(m => m.searchData.myKeyword, new { type = "search" })
    <span>Location(lat,long):</span>
    @Html.TextBoxFor(m => m.searchData.myLocation, new { type = "search" })
    <input type="submit" value="Submit" />
}   

<title>Results</title><br />

    @if (!String.IsNullOrEmpty(Model.errorMessage))
    {
        <div class="text-danger">@Model.errorMessage</div>
    }

    else if (Model.tweets == null || Model.tweets.Count == 0)
    {
        <span> no results found</span>

    }
    else
    {
        foreach (var item in Model.tweets)
        {
            <p> <Strong>@Html.DisplayFor(modelItem => item.Author) : </Strong> @Html.DisplayFor(modelItem => item.timeStamp) </p>
        <p>@Html.DisplayFor(modelItem => item.TweetString)  </p>
        }
    }
